// $font-size-base:    16px;
// $brand-color:    #ff0000;
// $link-hover: #ffc600;
// $btn-brand-bg: #2faf57;
// $btn-brand-border: #11993d;

$link-color:					#4f8a10;

$brand-primary:					#005a98;
$brand-secondary:				#009bd1;
$brand-additional:				#b9e5f5;

$color-quick-link:				#525252;


$media-xxs:						400px;
$media-xs:						480px;
$media-breakpoint:				768px;
$media-md:						992px;
$media-lg:						1200px;




