/* global start */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    min-width: 323px;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, Verdana, sans-serif;
    font-size: 16px;
    color: #5a5b50;
    /*pixel perfect*/
    // background: url(../img/index.jpg) top -85px center no-repeat;
    // opacity: 0.6;
}


/* Reset */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}

img {
    border-style: none;
    /* width: 100%; */
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

em {
    font-style: normal;
}

button {
    cursor: pointer;
    outline: 0;
}

input,
textarea,
select {
    font: 100% arial, sans-serif;
    vertical-align: middle;
}

form,
fieldset {
    margin: 0;
    padding: 0;
    border-style: none;
}

header,
footer,
article,
section,
hgroup,
nav,
figure {
    display: block;
}

.cf {
    clear: both;
}

.cf:after,
.cf:before {
    content: "";
    display: table;
    clear: both;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}


/* Global styles */


/* sprite */

// .sprite {
//     display: inline-block;
//     background: url(../img/sprite.png) no-repeat;
// }

.show-on-mobile {
    display: none;
}

table p {
    margin-bottom: 0;
}

.table-nowrap {
    tr td:first-child {
        white-space: nowrap;
        padding-right: 25px;
    }
}

.retina {
    transform: scale(0.5);
}

.text-center {
    text-align: center;
}

.text-green {
    color: green;
}

.text-blue {
    color: #005A98;
}

/* css3 filter efects */


/* Hue-rotate */




.hue-rotate img {
    -webkit-filter: hue-rotate(90deg);
    /* Chrome, Safari, Opera */
    filter: hue-rotate(90deg);
}


/* Saturate */

.saturate img {
    -webkit-filter: saturate(800%);
    /* Chrome, Safari, Opera */
    filter: saturate(800%);
}


/* Sepia */

.sepia img {
    -webkit-filter: sepia(100%);
    /* Chrome, Safari, Opera */
    filter: sepia(100%);
}


/* Blur */

.blur img {
    -webkit-filter: blur(4px);
    filter: blur(4px);
}


/* Contrast */

.contrast img {
    -webkit-filter: contrast(180%);
    filter: contrast(180%);
}


/* Grayscale */

.grayscale img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

::selection {
    color: #fff; 
    background: #009BD1;
   }


/* global end */
