.container {
	width: 100%;
}

.slider-title {
	font-size: 18px;
}

.main {
	padding: 49px 0 0;
}

.hide-on-desctop {
	display: block;
}

.feedback-link {
	display: none;
}

.cd-top {
	bottom: 152px;
}