.mobile-ico {
	padding-top: 21px;

	a {
		color: #005A98;
		&:active,
		&:focus {
			text-decoration: none;
		}
	}

	& * {
		line-height:21px;
		vertical-align:middle;
	}
}

.fa.fa-bars {
	font-size: 30px;
	vertical-align: middle;
	margin-right: 10px;
}

.fa.fa-times {
	color: whitesmoke;
	// &:hover {
	//     color: red;
	// }
}

.fa.fa-angle-double-right {
	margin-left: 5px;
}

.fa.fa-pencil {
	margin-right: 7px;
}